pymongo==4.17.0
gevent==26.5.0
python-magic==0.4.27
pytest==9.1.0
pytest-gevent==1.1.0
Sphinx==9.1.0
sphinxcontrib-httpdomain==2.0.0
setuptools==82.0.1
# Our modernized hpfeeds3 (will be installed locally)
# hpfeeds3 (local install)
